@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CRaleway:100,300,600,700,800");

/* Scaffolding
/* ------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f4f4f4;;
  margin-bottom: 44px;
  line-height: 1.57142857;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

a {
  color: #1d7cf4;
}

a:hover {
  text-decoration: none;
}

footer {
  position: absolute;
  width: 100%;
  height: 44px;
  padding: 10px 30px;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
}

.login-container {
  max-width: 555px;
}

/* Alerts
/* ------------------------- */

.alert {
  border-width: 0 0 0 3px;
}

.alert-info {
  border-color: #31708f;
}

.alert-success {
  color: #fff;
  background-color: #29b35b;
  border-color: #1d8141;
}

.alert-danger {
  color: #b61b17;
  background-color: #ffcdd2;
  border-color: #b61b17;
}

/* Navbar
/* ------------------------- */

.navbar-default {
  background-color: #fff;
  border-color: #e0e0e0;
}

.navbar-default .navbar-nav {
  color: #757575;
}

.navbar-default .navbar-nav > li > a {
  color: #262626;
  border-bottom: 3px solid transparent;
  padding-top: 17.5px;
  padding-bottom: 14.5px;
  transition: all 0.25s;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;;
  border-bottom-color: #bdbdbd;
}

.navbar-default .navbar-nav > li > a.navbar-avatar {
  padding-top: 13px;
  padding-bottom: 10px;
}

.navbar-default .navbar-nav > li > a.navbar-avatar img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.navbar-default .navbar-nav > li.active > a {
  border-bottom-color: #3f51b5;
  background-color: transparent;
  color: #262626;
}

/* Panels
/* ------------------------- */

.panel {
  border: solid 1px rgba(160, 160, 160, 0.3);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.panel-heading {
  padding: 20px 30px;
}

.panel-heading + .panel-body {
  padding-top: 0;
}

.panel-body {
  padding: 30px;
}

.panel-body h3 {
  margin-top: 0;
}

.panel-title {
  font-size: 18px;
  color: #424242;
}

/* Buttons
/* ------------------------- */

.btn-toolbar > .btn {
  float: none;
  margin-bottom: 5px;
}

.btn {
  font-weight: 600;
  border-radius: 3px;
}

.btn:focus {
  outline: 0 !important;
}

.btn-default {
  border-color: #ccc;
  background: #f5f5f5 linear-gradient(to bottom, #fff, #f5f5f5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 -1px 4px rgba(151, 159, 175, 0.2);
}

.btn-default:active {
  background: #e6e6e6 linear-gradient(to bottom, #f0f0f0, #e6e6e6);
}

.btn-success {
  border-color: #208a46;
  background: #29b35b linear-gradient(to bottom, #2ec866, #29b35b);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(32, 138, 70, 0.3);
}

.btn-success:active {
  background: #239a4e linear-gradient(to bottom, #28af59, #239a4e);
}

.btn-danger {
  border-color: #8c1512;
  background: #b61b17 linear-gradient(to bottom, #cc1e1a, #b61b17);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(140, 21, 18, 0.3);
}

.btn-danger:active {
  background: #9b1714 linear-gradient(to bottom, #b11a17, #9b1714);
}

.btn-facebook {
  color: #fff;
  border-color: #335190;
  background: #3b5998 linear-gradient(to bottom, #4263a9, #3b5998);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(59, 89, 152, 0.3);
}

.btn-facebook:hover,
.btn-facebook:focus {
  color: #fff;
}

.btn-twitter {
  color: #fff;
  border-color: #009fdb;
  background: #00aced linear-gradient(to bottom, #05baff, #00aced);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(0, 172, 237, 0.3);
}

.btn-twitter:hover,
.btn-twitter:focus {
  color: #fff;
}

.btn-google {
  color: #fff;
  border-color: #d54331;
  background: #dd4b39 linear-gradient(to bottom, #e05d4d, #dd4b39);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(221, 75, 57, 0.3);
}

.btn-google:hover,
.btn-google:focus {
  color: #fff;
}

.btn-vk {
  color: #fff;
  border-color: #4f7192;
  background: #587ea3 linear-gradient(to bottom, #678aad, #587ea3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(79, 113, 146, 0.3);
}

.btn-vk:hover,
.btn-vk:focus {
  color: #fff;
}

.btn-github {
  color: #fff;
  border-color: #444;
  background: #545454 linear-gradient(to bottom, #616161, #545454);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(68, 68, 68, 0.3);
}

.btn-github:hover,
.btn-github:focus {
  color: #fff;
}

/* Forms */
/* ------------------------- */

textarea {
  resize: none;
}

.form-control {
  height: auto;
  padding: 8px 12px;
  border: 2px solid #ebebeb;
  border-radius: 0;
  box-shadow: inset 0 1px 2px rgba(150, 160, 175, 0.1), inset 0 1px 15px rgba(150, 160, 175, 0.05);
}

.form-group > label {
  text-transform: uppercase;
  font-size: 13px;
}

.hr-title {
  height: auto;
  margin-top: 20px;
  border-top: 1px solid;
  color: #bbb;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}

.hr-title span {
  position: relative;
  padding: 2px 10px;
  top: -10px;
  background-color: #fff;
  border-radius: 2px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.header-blue{
  background:linear-gradient(135deg, #172a74, #21a9af);
  background-color:#184e8e;
  padding-bottom:120px;
  font-family:'Source Sans Pro', sans-serif;
  margin-bottom : 50px;
}

@media (max-width:767px) {
  .header-blue{
    padding-bottom:80px;
  }
}

.header-blue .navbar{
  background:transparent;
  padding-top:12px;
  padding-bottom:10px;
  color:#fff;
  border-radius:0;
  box-shadow:none;
  border:none;
}

@media (max-width:767px) {
  .header-blue .navbar{
    padding-top:0;
    padding-bottom:0;
  }
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-header{
    padding-top:10px;
    padding-bottom:10px;
  }
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-right{
    margin-bottom:20px;
  }
}

.header-blue .navbar .navbar-brand{
  font-weight:bold;
  color:inherit;
}

.header-blue .navbar .navbar-brand:hover{
  color:#f0f0f0;
}

.header-blue .navbar .navbar-brand img{
  height:100%;
  display:inline-block;
  margin-right:10px;
  width:auto;
}

.header-blue .navbar .navbar-collapse p{
  margin-top:10px;
  margin-bottom:0;
}

.header-blue .navbar .navbar-collapse p .login{
  color:#d9d9d9;
  margin-right:10px;
  text-decoration:none;
}

.header-blue .navbar .navbar-collapse p .login:hover{
  color:#fff;
}

.header-blue .navbar .navbar-toggle{
  border-color:rgba(255,255,255,0.3);
}

.header-blue .navbar .navbar-toggle:hover, .header-blue .navbar-toggle:focus{
  background:none;
}

.header-blue .navbar .navbar-toggle .icon-bar{
  background-color:#eee;
}

.header-blue .navbar .navbar-collapse, .header-blue .navbar .navbar-form{
  border-color:rgba(255,255,255,0.3);
}

.header-blue .navbar .navbar-nav > .active > a, .header-blue .navbar .navbar-nav > .open > a{
  background:none;
  box-shadow:none;
}

.header-blue .navbar.navbar-default .navbar-nav > .active > a, .header-blue .navbar.navbar-default .navbar-nav > .active > a:focus, .header-blue .navbar.navbar-default .navbar-nav > .active > a:hover{
  color:rgba(255,255,255,0.3);
  box-shadow:none;
  background:none;
  pointer-events:none;
}

.header-blue .navbar.navbar .navbar-nav > li > a{
  padding-left:18px;
  padding-right:18px;
}

.header-blue .navbar.navbar-default .navbar-nav > li > a{
  color:#d9d9d9;
}

.header-blue .navbar.navbar-default .navbar-nav > li > a:focus, .header-blue .navbar.navbar-default .navbar-nav > li > a:hover{
  color:#fcfeff !important;
  background-color:transparent;
}

.header-blue .navbar .navbar-nav > li > .dropdown-menu{
  margin-top:-5px;
  box-shadow:0 4px 8px rgba(0,0,0,.1);
  background-color:#fff;
  border-radius:2px;
}

.header-blue .navbar .dropdown-menu > li > a:focus, .header-blue .navbar .dropdown-menu > li > a{
  line-height:2;
  font-size:14px;
  color:#37434d;
}

.header-blue .navbar .dropdown-menu > li > a:focus, .header-blue .navbar .dropdown-menu > li > a:hover{
  background:#ebeff1;
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-nav .open .dropdown-menu{
    box-shadow:none;
    background:none;
    color:#fff;
  }
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-nav .open .dropdown-menu > li > a{
    color:#fdfeff;
    padding-top:12px;
    padding-bottom:12px;
    line-height:1;
  }
}

.header-blue .action-button, .header-blue .action-button:active{
  border:1px solid rgba(255,255,255,0.7);
  border-radius:20px;
  color:#ebeff1;
  box-shadow:none;
  text-shadow:none;
  padding:6px 15px;
  background:transparent;
  transition:background-color 0.25s;
  outline:none;
}

.header-blue .action-button:hover{
  color:#fff;
}

.header-blue .action-button.btn-lg{
  padding:7px 18px;
}

.header-blue .navbar .navbar-form label{
  color:#ccc;
}

.header-blue .navbar .navbar-form .search-field{
  background:none;
  border:none;
  border-bottom:1px solid transparent;
  border-radius:0;
  color:#ccc;
  box-shadow:none;
  color:inherit;
  transition:border-bottom-color 0.3s;
}

@media (max-width:767px) {
  .header-blue .navbar .navbar-form .search-field{
    display:inline-block;
    width:80%;
  }
}

.header-blue .navbar .navbar-form .search-field:focus{
  border-bottom:1px solid #ccc;
}

.header-blue .hero{
  margin-top:60px;
}

@media (max-width:767px) {
  .header-blue .hero{
    margin-top:20px;
    text-align:center;
  }
}

.header-blue .hero h1{
  color:#fff;
  font-size:40px;
  margin-bottom:24px;
  font-weight:300;
}

@media (max-width:991px) {
  .header-blue .hero h1{
    margin-top:0;
    margin-bottom:15px;
    line-height:1.4;
  }
}

.header-blue .hero p{
  color:rgba(255,255,255,0.8);
  font-size:20px;
  margin-bottom:30px;
  font-weight:300;
}

.header-nightsky {
    color: white;
    background: url("../images/nightsky.jpg") no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.header-nightsky .navbar-nav>li>a {
    color: white;
    font-size: 18px;
    border-radius: 10px;
}

.header-nightsky .navbar {
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom:none;
    background-color: transparent;
    min-width: 300px;
    border: none;
}


.header-nightsky .hero {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;
}

.header-nightsky .hero h1 {
    color: white;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 36px;
}


.header-nightsky .hero p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 22px;
    max-width: 80%;
    margin: 0 auto 20px;
    font-weight: normal;
    line-height: 1.5;
}

.header-nightsky .btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: #fffbfb !important;
    outline:none;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 24px;
    padding: 18px 24px;
    transition:0.2s background-color;
}

.header-nightsky .btn-primary:hover {
    background-color:rgba(255,255,255,0.1);
}

.header-nightsky .btn-primary:active {
    transform:translateY(1px);
}

@media screen and (max-width: 767px) {

    .header-nightsky .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: #fff;
        font-size: 16px;
    }

    .header-nightsky .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        color: #ccc;
    }

    .header-nightsky .navbar-collapse {
        margin-left: 20px;
        border-top: none;
        box-shadow: none;
    }

    .header-nightsky .hero{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .header-nightsky .hero h1{
        font-size: 42px;
    }
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video { vertical-align: middle }
/*
 * Remove default fieldset styles.
 */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea { resize: vertical }
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* 
* ==========================================================================
   Author's custom styles
  ================= 1.Author Custom Global Style ===========================
* ========================================================================== 
*/
@font-face {
    font-family: 'BeonMedium';
    src: url('../fonts/beon-webfont.eot');
    src: local('?'), url('../fonts/beon-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/beon-webfont.woff') format('woff'), url('../fonts/beon-webfont.ttf') format('truetype'), url('../fonts/beon-webfont.svg#BeonMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latobold';
    src: url('../fonts/Lato-Bold-webfont.eot');
    src: url('../fonts/Lato-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Bold-webfont.woff2') format('woff2'), url('../fonts/Lato-Bold-webfont.woff') format('woff'), url('../fonts/Lato-Bold-webfont.ttf') format('truetype'), url('../fonts/Lato-Bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latolight';
    src: url('../fonts/Lato-Light-webfont.eot');
    src: url('../fonts/Lato-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Light-webfont.woff2') format('woff2'), url('../fonts/Lato-Light-webfont.woff') format('woff'), url('../fonts/Lato-Light-webfont.ttf') format('truetype'), url('../fonts/Lato-Light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/Lato-Regular-webfont.eot');
    src: url('../fonts/Lato-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Regular-webfont.woff2') format('woff2'), url('../fonts/Lato-Regular-webfont.woff') format('woff'), url('../fonts/Lato-Regular-webfont.ttf') format('truetype'), url('../fonts/Lato-Regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
html,
body {
    width: 100%;
    height: 100%;
    font-family: OpenSans Light, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 { font-weight: normal }
h2 {
    font-family: latoregular;
    font-size: 1.5em;
    text-transform: capitalize;
}
img {
    width: 100%;
    height: auto;
}
ul { list-style: none }
a { text-decoration: none }
.padding-big { padding: 60px 0 }
p {
    color: #787878;
    font-family: Open_sanslight;
}
#container {
    margin: 0;
    padding: 0;
}
.title {
    color: #2098f5;
    font-family: latobold;
    font-size: 2em;
    text-transform: uppercase;
    position: relative;
    display: table;
    margin: 0 auto;
}
.title::before {
    background: none repeat scroll 0 0 #ddd;
    content: "";
    height: 2px;
    left: 25%;
    position: absolute;
    top: -8px;
    width: 50%;
}
.title::after {
    background: none repeat scroll 0 0 #ddd;
    content: "";
    height: 2px;
    left: 25%;
    position: absolute;
    bottom: -8px;
    width: 50%;
}
.title-tag {
    font-family: open_sanslight;
    font-size: 1.1em;
    padding: 10px 0 20px 0;
}
.padding-2x { padding: 60px 0 }
.padding-x { padding: 20px 0 }
.padding-top-2x { padding-top: 60px }
.padding-top-x { padding-top: 20px }
.padding-btm-2x { padding-bottom: 60px }
.padding-btm-x { padding-bottom: 20px }
.margin-2x { margin: 60px 0 }
.margin-x { margin: 20px 0 }
.margin-top-2x { margin-top: 60px }
.margin-top-x { margin-top: 20px }
.margin-btm-2x { margin-bottom: 60px }
.margin-btm-x { margin-bottom: 20px }
/* 
* ==========================================================================
    =========+++++++++++++++ 2.Intro Section +++++++++++++++=============
* ==========================================================================
*/
.center-content {
    display: table;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.intro {
    background-image: url(../img/background.jpg); /* Fullscreen Background Image */
    background-size: cover;
    background-position: center;
    background-color: #2a2e39;
    position: fixed;
    z-index: 10;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #fff;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.container-open .intro {
    -webkit-transform: translate3d(0, -100%, 0) translate3d(0, 200px, 0);
    transform: translate3d(0, -100%, 0) translate3d(0, 200px, 0);
}
/* 
* ==========================================================================
        2.1.FullScreen Image
* ========================================================================== 
*/
.intro-image {
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    min-width: 100%;
    min-height: 120%;
    width: auto;
    height: auto;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.6s, opacity 0.6s;
    transition: transform 0.6s, opacity 0.6s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.container-open .intro-image {
    background-color: #2a2e39;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
}
/* 
* ==========================================================================
                +++++++++++++++ 2.2.Intro Content +++++++++++++++
* ========================================================================== 
*/
.intro-content {
    display: table-cell;
    font-size: 1.15em;
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    vertical-align: middle;
}
/* 
* ==========================================================================
        2.2.1.Logo
* ==========================================================================
*/
.logo {
    width: 100%;
    margin: -30px 0 25px;
}
.logo img {
    width: 200px;
    height: auto;
}
.text-logo {
    color: #2098f5;
    font-family: BeonMedium;
    font-weight: bold;
    font-size: 3em;
}
/* 
* ==========================================================================
        2.2.2.Intro Main Heading
* ========================================================================== 
*/
.intro-title {
    font-family: latobold;
    font-size: 3em;
    font-weight: normal;
    margin: 15px 0;
    text-transform: uppercase;
}
.obak { color: #2098f5 }
/* 
* ==========================================================================
        2.2.3.Countdown
* ========================================================================== 
*/
.countdown {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    display: block;
    text-align: center;
    font-family: BeonMedium;
}
.countdown li { display: inline-block }
.countdown li span {
    font-size: 80px;
    font-weight: 300;
    line-height: 80px;
}
.countdown li.seperator {
    font-size: 14px;
    margin-top: 12px;
    line-height: 30px;
    vertical-align: top;
}
.countdown li p {
    color: #ddd;
    font-size: 14px;
}
a {
    color: #76949F;
    text-decoration: none;
}
a:hover { text-decoration: underline }
.content-div { width: 100% }
/* 
* ==========================================================================
        2.2.4.Intro Sub Heading
* ========================================================================== 
*/
.intro-subtitle {
    display: block;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
}
.intro-subtitle p { color: #efefef }
.intro_description {
    margin: 0 auto 0 1em;
    line-height: 1.2;
}
/* 
* ==========================================================================
        2.2.5.Trigger Button with SVG
* ========================================================================== 
*/
.trigger {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    bottom: 0;
    height: 40px;
    margin: 10px;
    outline: medium none;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    width: 40px;
}
/* Hide the text */
.trigger span {
    position: absolute;
    top: 100%;
}
.icon rect,
.icon line {
    stroke: #2098f5;
    fill: #2098f5;
    stroke-width: 2px;
}
.icon {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}
/* Hide grid and show cross when opening */
.icon-cross,
.trigger-active .icon-grid {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
}
.trigger-active .icon-cross {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
/* 
* ==========================================================================
        2.2.6.Social Links
* ========================================================================== 
*/
.social {
    bottom: 0;
    left: 0;
    margin: 10px;
    position: absolute;
}
.fa-social {
    background: #2098f5;
    border: 0px solid #2098f5;
    color: rgb(255, 255, 255);
    height: 42px;
    line-height: 45px;
    text-align: center;
    width: 42px;
}
.fa-social:hover {
    color: #2098f5;
    background: #fff;
}
/* 
* ==========================================================================
*     =======+++++++++++++++ 3.Trigger After Content +++++++++++++++========
* ========================================================================== 
*/
.content-wrapper {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 250px 0 0;
    background-color: #F0F1F5;
    overflow: hidden;
}
.content-wrapper::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2a2e39;
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    pointer-events: none;
}
.container-open .content-wrapper::after { opacity: 0 }
/* 
* ==========================================================================
        3.1.Trigger Notify
* ========================================================================== 
*/
.container-open .center-content { opacity: 0 }
.notify-after { visibility: hidden }
.container-open .notify-after {
    visibility: visible;
    position: absolute;
    bottom: 0;
    left: 40%;
}
.subscribe-form { width: 100% }
.input-notify-after {
    width: 80% !important;
    float: left;
    background: transparent;
    border-right: none;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.btn-notify-after {
    width: 20% !important;
    float: left;
    color: #ddd;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    margin-left: -4px;
    background: transparent;
}
.btn-notify-after:hover,
.btn-notify-after:focus,
.btn-notify-after:active {
    background: #2098f5;
    color: #fff;
    border-color: #2098f5;
}
/* 
* ==========================================================================
        3.2.Our Service
* ========================================================================== 
*/
.fa-service {
    border: 1px solid #2098f5;
    color: #2098f5;
    font-size: 2em !important;
    height: 40px;
    line-height: 40px !important;
    text-align: center;
    width: 40px;
}
.service-title { color: #2098f5 }
.fa-mbr { padding: 0 5px }
.fa-mbr:hover { color: #31B0E0 }
/* 
* ==========================================================================
        3.3.Our Awesome Team
* ========================================================================== 
*/
.team-member {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px 0;
    margin: 10px 0;
}
.team-member h2 {
    color: #585858;
    font-family: latolight;
    font-size: 1.2em;
}
.member-img {
    display: table;
    height: 200px;
    margin: 0 auto;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}
/* 
* ==========================================================================
        3.4.Contact Form
* ========================================================================== 
*/
.contact {
    background-color: #2098f5;
    color: #fff;
}
.contact-title { color: #fff }
.contact-tag { color: #fff }
#contact-form .form-group label {
    display: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 100;
    text-transform: uppercase;
}
#contact-form.no-placeholder .form-group label { display: block }
#contact-form .controls {
    padding: 0;
    margin-top: 40px;
}
#contact-form.no-placeholder .controls { margin-top: 0 }
#contact-form .form-control {
    display: inline;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    outline: none;
    box-shadow: 0 0 0 rgba(0,0,0,0.05);
    height: 52px;
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    font-weight: 400;
    padding-left: 38px;
    vertical-align: top;
}
#contact-form .form-group.half-width {
    width: 40%;
    float: left;
}
#contact-form .form-group { position: relative }
#contact-form .form-group [class*=fa] {
    display: block;
    position: absolute;
    top: 0;
    left: 5px;
    color: #eee;
    font-size: 24px;
    line-height: 52px;
    text-align: center;
    font-weight: 300;
    -webkit-transition: color .3s ease-out;
    transition: color .3s ease-out;
}
#contact-form .form-group [class*=fa].active { color: #ccc }
#contact-form.no-placeholder .form-group [class*=fa] { top: 30px }
#contact-form textarea.form-control {
    height: auto;
    max-width: 100%;
    min-width: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 14px;
    vertical-align: top;
}
#contact-form .form-control:focus {
    outline: none;
    box-shadow: 0 0 0 rgba(0,0,0,0.05);
}
#contact-form .error-message {
    padding: 5px 0;
    position: absolute;
    top: -35px;
    right: 0;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #ff3345;
    z-index: 10;
}
#contact-form.no-placeholder .error-message { top: 0 }
.form-control::-moz-placeholder {
    color: #ddd;
    opacity: 1;
}
.form-control::-webkit-input-placeholder {
    color: #ddd;
    opacity: 1;
}
.form-control::-ms-input-placeholder {
    color: #ddd;
    opacity: 1;
}
.btn-contact {
    background-color: #2080f5;
    border-color: #2080f5;
    color: #fff !important;
    margin: 30px 0 0;
    padding: 12px 0;
}
.btn-contact:hover {
    border: 1px solid #fff;
    background-color: transparent;
}
/* 
* ==========================================================================
        3.5.Google Map
* ========================================================================== 
*/
#map-wrapper { height: 440px }
/* 
* ==========================================================================
        3.6.Footer
* ========================================================================== 
*/
#footer {
    background-color: #2098f5;
    padding: 20px 0;
    overflow: hidden;
}
.copyright p {
    color: #fff;
    display: block;
    padding-top: 25px;
    font-size: 1.1em;
}
/* 
* ==========================================================================
       Helper classes
* ========================================================================== 
*/
/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.hidden {
    display: none !important;
    visibility: hidden;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible { visibility: hidden }
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after { clear: both }
/* 
* ==========================================================================
    Responsive Design
* ========================================================================== 
*/
@media only screen and (max-width: 767px) { 
    .text-justify { text-align: center }
}

@media only screen and (max-width: 480px) { 
    /* body{background:#69C238} */
    .intro { position: absolute }
    .logo { margin: -55px 0 25px }
    .text-logo {
        font-size: 2em;
        margin: 0;
    }
    .intro-title {
        font-size: 1.5em;
        margin: 8px 0;
    }
    .fa-clock-spin { font-size: 1.5em !important }
    .countdown { margin: -18px 0 0 }
    .countdown li span { font-size: 3em }
    .countdown li p { margin: -15px 0 5px }
    .countdown li.seperator {
        font-size: 9px;
        line-height: normal;
        margin-top: 28px;
        vertical-align: top;
    }
    .container-open .notify-after {
        bottom: 60px;
        left: 22%;
    }
    .notify-after .form-group { float: left }
}
@media only screen and (max-width: 304px) { 
    /* body{background:#69C238} */
    .intro { position: absolute }
    .container-open .notify-after {
        bottom: 60px;
        left: 5%;
    }
}
@media only screen and (max-width: 320px) { 
    .intro { position: absolute }
    .text-logo {
        font-size: 3em;
        margin: 0;
    }
    .intro-title {
        font-size: 1.3em;
        margin: 5px 0 10px;
    }
    .fa-clock-spin { font-size: 2em !important }
    .countdown { margin: -10px 0 10px }
    .countdown li span { font-size: 3em }
    .countdown li p { margin: -15px 0 5px }
    .countdown li.seperator {
        font-size: 9px;
        line-height: normal;
        margin-top: 28px;
        vertical-align: top;
    }
    .container-open .notify-after {
        bottom: 60px;
        left: 10%;
    }
    .notify-after .form-group { float: left }
}
@media only screen and (min-width: 238px) and (max-width: 319px) { 
    .intro { position: absolute }
    .logo { margin: -60px 0 25px }
    .text-logo { margin: -60px 0 0 }
    .intro-title {
        font-size: 1em;
        margin: -25px 0 5px;
    }
    .fa-clock-spin { font-size: 2em !important }
    .countdown { margin: 10px 0 }
    .countdown li { margin: -25px 0 0 }
    .countdown li span { font-size: 1.5em }
    .countdown li p {
        font-size: 12px;
        margin: -25px 0 0;
    }
    .countdown li.seperator {
        font-size: 8px;
        line-height: 12px;
        margin-top: 0;
    }
    .countdown li { margin: -30px 0 0px }
    .intro-subtitle { margin: -5px 0 0 }
    .fa-social {
        height: 38px;
        line-height: 38px;
        width: 35px;
    }
    .notify-after .form-group { float: left }
}
@media only screen and (min-width: 481px) and (max-width: 568px) { 
    .intro { position: absolute }
    .intro-content { padding: 2% }
    .logo { margin: -45px 0 25px;}
    .text-logo {
        font-size: 2em;
        margin: 0;
    }
    .intro-title {
        font-size: 2em;
        margin: -30px 0 5px;
    }

    .fa-clock-spin { font-size: 1.5em !important }
    .countdown { margin: -18px 0 0 }
    .countdown li span { font-size: 3em }
    .countdown li p { margin: -15px 0 10px }
    .countdown li.seperator {
        font-size: 9px;
        line-height: normal;
        margin-top: 28px;
        vertical-align: top;
    }
    .container-open .notify-after {
        bottom: 60px;
        left: 30%;
    }
    .notify-after .form-group { float: left }
}
@media only screen and (min-width: 569px) and (max-width: 736px) { 
    .intro { position: absolute }
    .logo { margin: 0 0 20px }
    .text-logo { margin: -60px 0 0 }
    .intro-title {
        font-size: 2em;
        margin: -25px 0 5px;
    }
    .fa-clock-spin { font-size: 2em !important }
    .countdown li span { font-size: 2em }
    .countdown li p {
        font-size: 12px;
        margin: -20px 0 0;
    }
    .countdown li.seperator {
        font-size: 10px;
        line-height: 15px;
        margin-top: -15px;
    }
    .countdown li { margin: -40px 0 0px }
    .intro-subtitle { margin: -15px 0 0 }
    .container-open .notify-after {
        bottom: 60px;
        left: 30%;
    }
    .notify-after .form-group { float: left }
}
@media only screen and (min-width: 768px) and (max-width:991px) { 
    .intro-title { font-size: 3em }
    .container-open .notify-after { left: 34% }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) { 
    .container-open .notify-after { left: 39% }
}
@media (min-width: 1200px) { 
    
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) { 
    /* Style adjustments for high resolution devices */
}
/* 
* ==========================================================================
    Screen Loader
* ========================================================================== 
*/
.screen-loader {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
    background: #fff url(../img/Preloader.gif) no-repeat center center;
    z-index: 10000;
}
/* 
* ==========================================================================
    Preloader
* ========================================================================== 
*/
#preload {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
    background: #000;
    display: none;
    z-index: 10000;
}
#preload-status {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: #fff url(../img/Preloader.gif) no-repeat center center;
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    filter: alpha(opacity=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}
/* preload content */
.preload-content {
    position: fixed;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.6;
    -moz-opacity: 0.6;
    -webkit-opacity: 0.6;
    filter: alpha(opacity=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}
.preload-content-rain {
    position: fixed;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.4;
    -moz-opacity: 0.4;
    -webkit-opacity: 0.4;
    filter: alpha(opacity=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print { 
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster: ;
        http: //www.sanbeiji.com/archives/953 */ box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited { text-decoration: underline }
    a[href]:after { content: " (" attr(href) ")" }
    abbr[title]:after { content: " (" attr(title) ")" }
    /*
         * Don't show links that are fragment identifiers,
         * or use the `javascript:` pseudo protocol
         */
    a[href^="#"]:after,
    a[href^="javascript:"]:after { content: "" }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
         * Printing Tables:
         * http://css-discuss.incutio.com/wiki/Printing_Tables
         */
    thead { display: table-header-group }
    tr,
    img { page-break-inside: avoid }
    img { max-width: 100% !important }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 { page-break-after: avoid }
}

