<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, width=device-width">
<style type="text/css">
	@font-face {font-family: "Arial";
    src: url("//db.onlinewebfonts.com/t/8d223b3ad8d4819e9dcf22757e4cc2c4.eot");
    src: url("//db.onlinewebfonts.com/t/8d223b3ad8d4819e9dcf22757e4cc2c4.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/8d223b3ad8d4819e9dcf22757e4cc2c4.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/8d223b3ad8d4819e9dcf22757e4cc2c4.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/8d223b3ad8d4819e9dcf22757e4cc2c4.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/8d223b3ad8d4819e9dcf22757e4cc2c4.svg#Arial") format("svg");}
    @media (max-width: 540px){
    	.grid_item{
    	    width: 50%;
    	    margin-bottom: 20px;
    	}
    }
</style>
<body style="background-color: #fafafa; margin: 0;">
		<table style="padding: 10px 32px; max-width: 600px; width: 100%; margin: 0 auto;">
			<tr>
				<td colspan="2" style="text-align: center; padding: 14px 10px 7px;">
					<a href="#" style="display: inline-block;">
						<img src="{BASE_URL}templates/email/logo.png" alt="logo">
					</a>
					<p style="line-height: 1.4; font-family: 'Arial', sans-serif; font-size: 10px; color: #afaeae; text-align: center; max-width: 280px;margin: 10px auto 0;">
						You are receiving this email because you created an event or someone listed you as a co-organizer for this event
					</p>
				</td>
			</tr>
		</table>
	<table cellpadding="0" cellspacing="0" border="0" style="background: #fff; border: 1px solid #ccc; border-radius: 5px; margin: 0 auto; padding: 0 33px 29px 32px; max-width: 600px; width: 100%;">
		<tr>
			<td colspan="2" style="vertical-align: top; color: #545454; font-size: 15px; line-height: 1.4; font-family:  'Arial', sans-serif; font-weight: 400; padding-bottom:19px; letter-spacing: -.15px;">
				<h4 style="font-size: 20px; font-family:  'Arial', sans-serif; color: #545454; padding-top: 19px; margin: 0 0 8px;">All Set!</h4>
				Nice work. Your Event, <u style="display: inline-block; font-weight: bold; letter-spacing: .75px;">Mind and Meditation</u>, is up and running. We at the Art of Living believe that lives of attendees would be surely happified by your event. Go ahead and check it out.
			</td>
		</tr>
		<tr>
			<td colspan="2" >
				<a href="{eventUrl}" style="text-decoration: none; font-family:  'Arial', sans-serif; font-weight: bold;font-size: 15px;color: #fff; background: #f6a626; display: inline-block; padding: 10px; border-radius: 5px; max-width: 142px; width: 100%; text-align: center; letter-spacing: 1px; word-spacing: -2px;">
					View my Event
				</a>
			</td>
		</tr>
		<tr>
			<td colspan="2" >
				<h4 style="font-size: 20px; font-family:  'Arial', sans-serif; color: #545454; padding-top: 31px; margin: 0 0 10px;">Event Details:</h4>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="color: #545454; font-size: 15px; font-family:  'Arial', sans-serif; padding-bottom:14px; font-weight: 400; word-spacing: 2px; line-height: 1.2;">
				<ul style="padding: 6px 34px 0; margin-bottom: 0;">
					<li style="margin-bottom:11px;">
						 <b>Long URL:</b> <a href="{eventUrl}" style="color: inherit; text-decoration: underline; -ms-word-break: break-all; word-break: break-all;  -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto;">{eventUrl}</a>
					</li>
					<li style="margin-bottom:11px;">
						<b>Short URL:</b> <a href="{shortUrl}" style="color: inherit; text-decoration: underline;">{shortUrl}</a>
					</li>
					<li style="margin-bottom:11px;">
						<b>QR Code:</b> <a href="{qrUrl}" style="color: inherit; text-decoration: underline;">download</a> for print materials
					</li>
					<li style="margin-bottom:11px;">
						 <b>Parent ID:</b> {eventParentId}<br>
						 (For support purposes only)
					</li>
				</ul>
				<p style="letter-spacing: .2px; word-spacing: -1.1px; line-height: 1.5;">
					Please visit the <a href="{eventUrl}" style="color: inherit; text-decoration: underline;">event page</a> and verify that your event details are correct. <br>
					To modify the event details click <a href="#" style="color: inherit; text-decoration: underline;">here</a>.
				</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="padding-bottom:4px; border-bottom: 1px solid #e7e7e7;"></td>
		</tr>
		<tr>
			<td colspan="2" >
				<h4 style="font-size: 20px; font-family:  'Arial', sans-serif; color: #545454; padding-top: 31px; margin: 0 0 32px;">
					Pro features for your event
				</h4>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="">
				<div class="grid" style="font-size: 0;">
					<div class="grid_item" style="width: 25%;display: inline-block;text-align: center;vertical-align: top; 	box-sizing: border-box;   	padding: 0 5px;">
						<div class="grid_item_img" style="height: 74px;">
							<img src="{BASE_URL}templates/email/dashboard.png" alt="dashboard">
						</div>
						<h6 style="font-size: 15px;color: #2a97eb; font-weight: bold; font-family:  'Arial', sans-serif;margin: 0;letter-spacing: .5px;    	margin-bottom: 10px;">
							Dashboard
						</h6>
						<p style="margin:0;font-family:  'Arial', sans-serif; font-size: 12px; color: #545454; ">
							Check reports, event analytics, and manage attendees
						</p>
					</div>
					<div class="grid_item" style="width: 25%;display: inline-block;text-align: center;vertical-align: top; 	box-sizing: border-box;   	padding: 0 5px;">
						<div class="grid_item_img" style="height: 74px;">
							<img src="{BASE_URL}templates/email/promote_event.png" alt="promote_event">
						</div>
						<h6 style="font-size: 15px;color: #2a97eb; font-weight: bold; font-family:  'Arial', sans-serif;margin: 0;letter-spacing: .5px;    	margin-bottom: 10px;">
							Promote Event
						</h6>
						<p style="margin:0; font-family:  'Arial', sans-serif; font-size: 12px;color: #545454; ">
							Low turnout days are gone. Get experts to run your event promotion for you
						</p>
					</div>
					<div class="grid_item" style="width: 25%;display: inline-block;text-align: center;vertical-align: top; 	box-sizing: border-box;   	padding: 0 5px;">
						<div class="grid_item_img" style="height: 74px;">
							<img src="{BASE_URL}templates/email/check-in.png" alt="Check-In">
						</div>
						<h6 style="font-size: 15px;color: #2a97eb; font-weight: bold; font-family:  'Arial', sans-serif;margin: 0;letter-spacing: .5px;    	margin-bottom: 10px;">
							Check-In
						</h6>
						<p style="margin:0; font-family:  'Arial', sans-serif; font-size: 12px;color: #545454; ">
							Mark attendance of event participants
						</p>
					</div>
					<div class="grid_item" style="width: 25%;display: inline-block;text-align: center;vertical-align: top; 	box-sizing: border-box;   	padding: 0 5px;">
						<div class="grid_item_img" style="height: 74px;">
							<img src="{BASE_URL}templates/email/contact_center.png" alt="contact_center">
						</div>
						<h6 style="font-size: 15px;color: #2a97eb; font-weight: bold; font-family:  'Arial', sans-serif;margin: 0;letter-spacing: .5px;    	margin-bottom: 10px;">
							Contact Center
						</h6>
						<p style="margin:0;font-family:  'Arial', sans-serif;font-size: 12px; color: #545454;">
							Notify RSVPs of changes in venue, time, etc.
						</p>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2" >
				<h4 style="font-size: 20px; font-family:  'Arial', sans-serif; color: #545454; padding-top: 31px; margin: 0 0 32px;">
					Things done for you
				</h4>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="">
				<div class="grid" style="font-size: 0;">
					<div class="grid_item" style="width: 25%;display: inline-block;text-align: center;vertical-align: top; 	box-sizing: border-box;   	padding: 0 5px;">
						<div class="grid_item_img" style="height: 74px;">
							<img src="{BASE_URL}templates/email/sms.png" alt="sms">
						</div>
						<p style="margin:0;font-family:  'Arial', sans-serif;font-size: 12px; color: #545454; ">
							<b style="display: block;">SMS Reminder</b>  (automated)
						</p>
					</div>
					<div class="grid_item" style="width: 25%;display: inline-block;text-align: center;vertical-align: top; 	box-sizing: border-box;   	padding: 0 5px;">
						<div class="grid_item_img" style="height: 74px;">
							<img src="{BASE_URL}templates/email/reminder_emails.png" alt="reminder_emails">
						</div>
						<p style="margin:0;font-size: 12px; font-family:  'Arial', sans-serif; color: #545454;">
							<b>Confirmation <br> Reminder Emails</b>
						</p>
					</div>
					<div class="grid_item" style="width: 25%;display: inline-block;text-align: center;vertical-align: top; 	box-sizing: border-box;   	padding: 0 5px;">
						<div class="grid_item_img" style="height: 74px;">
							<img src="{BASE_URL}templates/email/discount.png" alt="discount">
						</div>
						<p style="margin:0;font-family:  'Arial', sans-serif; font-size: 12px; color: #545454;">
							<b style="display: block;">Discount Codes</b> (coming soon)
						</p>
					</div>
					<div class="grid_item" style="width: 25%;display: inline-block;text-align: center;vertical-align: top; 	box-sizing: border-box;   	padding: 0 5px;">
						<div class="grid_item_img" style="height: 74px;">
							<img src="{BASE_URL}templates/email/calls.png" alt="calls">
						</div>
						<p style="margin:0; font-family:  'Arial', sans-serif;font-size: 12px;color: #545454; ">
							<b>Personalized <br> Reminder calls</b>
						</p>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="2" >
				<h4 style="font-size: 20px; font-family: 'Arial', sans-serif; color: #545454; padding-top: 31px; margin: 0 0 11px;">
					Need Help?
				</h4>
				<p style="letter-spacing: .2px; word-spacing: -1.1px; line-height: 1.5; font-family:  'Arial', sans-serif; font-size: 15px; margin-top: 0; margin-bottom: 24px;">
					Check out our <a href="#" style="color: inherit; text-decoration: underline;">Help Center</a> videos or <a href="#" style="color: inherit; text-decoration: underline;">raise a ticket</a> for support
				</p>
				<p style="font-family: 'Arial', sans-serif; color: #545454; ">
					Jai Gurudev,
				</p>
				<p style="font-family: 'Arial', sans-serif; color: #545454; ">
					<img src="{BASE_URL}templates/email/marketing_team.png" alt="marketing team"> <br>
					Art of Living
				</p>
			</td>
		</tr>
		</table>
		<table style="padding: 10px 32px; max-width: 600px; width: 100%; margin: 0 auto;">
			<tr>
				<td colspan="2">
					<p style="line-height: 1.6; font-family: 'Arial', sans-serif; font-size: 10px; color: #afaeae; text-align: center;">
						Art of Living | PO Box 2010 | Cupertino, CA 95015<br>
						Copyright © 2017 Art of Living Foundation. All rights reserved.
					</p>
				</td>
			</tr>
		</table>





	</body>
